In [1]:
# ist index start with 0 to -1 with square bracket[]
# first elements 0 second element 1 and last elements number -1
# if i want to add any single element in the existing list then i have to use 'append' function.if i append any of data
#it will show the nd of the list. we can change values at the particular index its called re assign sequence[4] = 100
# to se del function we delete any particular index from the list del sequence[0]
# posetive index start left to right[1] a = [1,2,3,4,5,6]
# nagative index start right to left[-1] a=[-6,-5,-4,-3,-2,-1]

In [12]:
sequence = [10,20,30,40,50,] # 0=[10] 1=[20] 2=[30] 3=[40] 4=[50] 5= -50 erorr index

sequence[4] = 100
print(sequence)
del sequence[0]
print(sequence)
sequence.count(0)

[10, 20, 30, 40, 100]
[20, 30, 40, 100]

0

In [15]:
list1 = ["mahfuz",1111,"apple",22.22,00.33,"mangoes"]
print(list1)
print(list1.count(1))

['mahfuz', 1111, 'apple', 22.22, 0.33, 'mangoes']
0

In [2]:
print(len(list1))

6

In [19]:
lst = [1,12,13,14,4,41,22,23,24]
print(lst.count(2))

0

In [3]:
for i, item in enumerate(list1):
    print(i,item)

0 mahfuz
1 1111
2 apple
3 22.22
4 0.33
5 mangoes

In [4]:
print(list1[1:3])

[1111, 'apple']

In [5]:
print(list1[:5])

['mahfuz', 1111, 'apple', 22.22, 0.33]

In [6]:
print(list1[3:])

[22.22, 0.33, 'mangoes']

In [7]:
print(list1[:6])

['mahfuz', 1111, 'apple', 22.22, 0.33, 'mangoes']

In [8]:
print(list1[0:6])

['mahfuz', 1111, 'apple', 22.22, 0.33, 'mangoes']

In [9]:
print(list1[0:])

['mahfuz', 1111, 'apple', 22.22, 0.33, 'mangoes']

In [10]:
for i, item in enumerate(list1):
    print(i,item)

0 mahfuz
1 1111
2 apple
3 22.22
4 0.33
5 mangoes

In [11]:
print(list1[2])

apple

In [12]:
list1.append('mobile')# add something in a list called append # append means add element in the last

print(list1)

['mahfuz', 1111, 'apple', 22.22, 0.33, 'mangoes', 'mobile']

In [13]:
# insert means put a element in a desire index

list1.insert(2,'Italy')

print(list1)

['mahfuz', 1111, 'Italy', 'apple', 22.22, 0.33, 'mangoes', 'mobile']

In [14]:
list1.insert(4,'water')
print(list1)

['mahfuz', 1111, 'Italy', 'apple', 'water', 22.22, 0.33, 'mangoes', 'mobile']

In [15]:
# add a list in another list is called extend.
list2 = ["coca", "fanta", 00.88, "7up","lemon",666]
print(list2)

['coca', 'fanta', 0.88, '7up', 'lemon', 666]

In [16]:
list1.extend(list2)
print(list1)

['mahfuz', 1111, 'Italy', 'apple', 'water', 22.22, 0.33, 'mangoes', 'mobile', 'coca', 'fanta', 0.88, '7up', 'lemon', 666]

In [17]:
list0 = []
list00 = ["lion","tiger",66,"patato",66]
list000 = [44,77,7.88,"dog","cat"]
list0.append(list00)
list0.append(list000)
print(list0)

[['lion', 'tiger', 66, 'patato', 66], [44, 77, 7.88, 'dog', 'cat']]

In [18]:
# Delete element from a list
# using remove and pop
mahfuz = [1,5,3,7,2,4,6]
mahfuz.pop()
print(mahfuz)

[1, 5, 3, 7, 2, 4]

In [19]:
mahfuz.remove(4)
print(mahfuz)

[1, 5, 3, 7, 2]

In [20]:
mahfuz.reverse()
print(mahfuz)

[2, 7, 3, 5, 1]

In [21]:
#we can sort a list into two ways
#1 assending (small to large)
#2 desending (largeto small)
mahfuz.sort()
print(mahfuz)

[1, 2, 3, 5, 7]

In [22]:
mahfuz.sort(reverse=True)
print(mahfuz)

[7, 5, 3, 2, 1]

In [23]:
print(min(mahfuz))

1

In [24]:
print(max(mahfuz))

7

In [25]:
print(sum(mahfuz))

18

In [26]:
print(mahfuz.index(1))

4

In [27]:
lst = [1,3,2,5,7,2,4]
print(lst[3])

5

In [28]:
print(4 in lst)

True

In [29]:
print(lst.index(4))

6

In [30]:
print(4 in lst,lst.index(4))

True 6

In [31]:
for i in lst:
    print(i,end=" ")

1 3 2 5 7 2 4

In [32]:
lst.sort()
print(lst)

[1, 2, 2, 3, 4, 5, 7]

In [33]:
lst.remove(2)
print(lst)

[1, 2, 3, 4, 5, 7]

In [34]:
lst.insert(4,6)
print(lst)

[1, 2, 3, 4, 6, 5, 7]

In [35]:
lst.remove(6)
print(lst)

[1, 2, 3, 4, 5, 7]

In [36]:
lst.insert(5,6)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [46]:
print('\n')
print(lst3)

['22', '33', '44']

In [47]:
name = ["md","ahfuz","alam",str(26)]
full_name =" ".join(name)
print(full_name)

md ahfuz alam 26

In [48]:
new_lst = full_name.split(" ")
print(new_lst)

['md', 'ahfuz', 'alam', '26']

In [40]:
lst1 = [63,62,77]
lst2 = [111,222,444]
lst1 = lst2
print(lst1)

[111, 222, 444]

['22', '33', '44']

In [49]:
lst3 = []
n = int(input())
for i in range(n):
    item = input()
    lst3.append(item)
    print(lst3)

3
11
['11']
22
['11', '22']
44
['11', '22', '44']

In [50]:
# input from user
lst4 = []
n = int(input("n = "))
for i in range(n):
    item = input()
    lst4.append(item)
print(lst4)

n = 3
11
22
44
['11', '22', '44']